/* @import './' */
* {
    box-sizing: border-box;
    background-color: rgb(247, 224, 189);
}


.star-list:hover .star, .selected {
    color: orange;
}
.star-list .star:hover~.star {
    color: black
}