@import './apps/email/email-app.css';
@import './cmps/app-header.css';
@import './apps/email/email-app.css';
@import './apps/book/pages/book-review.cmp.css';

* {
    box-sizing: border-box;
}
body {
    background-color: rgb(156, 228, 204);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* LIST */

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}
