@import './apps/email/email-app.css';
@import './cmps/app-header.css';
@import './apps/book/book-app.css';
@import './pages/home-page.css';
@import './apps/note/note-app.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-bottom: 0;
}

footer >* {
        margin: 0px 20px 0px 20px;    
}

a {
    text-decoration: none;
    color:black;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

.capitalize {
    text-transform: capitalize;
}

/* LIST */

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

/* BUTTON */
button {
    cursor: pointer;
}

