@import './cmps/book-filter.cmp.css';
@import './cmps/book-list.cmp.css';
@import './cmps/book-preview.cmp.css';
@import '../book/pages/book-details.cmp.css';
@import '../book/pages/book-review.cmp.css';
@import '../book/pages/book-add.cmp.css';


.book-app {
    background-color: rgb(162, 235, 192);
    text-align: center;
    height: fit-content;
    padding: 0.5rem;
}

/* .book-app >*:not(:last-child) {
    display: flex;
} */

.book-inputs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}