.header-container {
    padding: 0.2rem 0;
    width: 100%;
    background-color: #ffffff5e;
    border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
}

.app-header {
    /* box-sizing: content-box; */
    display: flex;
    margin: 0 auto;
    background-color: #ffffff5e;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    width: 90%;
}

.app-header .menu-icon {
    width: 40px;
    cursor: pointer;
    vertical-align: middle;
}

/* DROPDOWN */

.dropdown-container {
    position: absolute;
    border-radius: 5px;
}

.dropdown-container img {
    width: 40px;
    height: 40px;
    margin: 5px;
    padding: 3px;
    transition: 0.5s;
    border-radius: 10px;
}

.dropdown-container a img:hover {
    background-color: rgba(143, 137, 128, 0.356);
    /* opacity: 0.4; */
}

.dropdown-container a {
    margin: 0;
    padding: 0;
    height: 50px;
}

.open-dropdown {
    display: flex;
    flex-wrap: wrap;
    right: 65px;
    top: 58px;
    /* padding: 10px; */
    border: 1px solid #000;
    position: absolute;
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
}

.close-dropdown {
    display: none;
}

/* LOGO */

.app-header .logo>* {
    display: inline-block;
}

.app-header .logo h1 {
    opacity: 0;
}

.app-header .logo>* {
    transition: 0.5s;
}

.app-header .logo:hover>* {
    opacity: 1;
}

.app-header .logo-icon {
    vertical-align: middle;
    width: 50px;
    height: 50px;
}