.app-header {
    display: flex;
    background-color: #ffffff5e;
    padding: 10px;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    user-select: none;

}
.app-header >*{
    margin: 0px 20px 0px 20px;
}
.app-header .menu-icon {
    width: 40px;
    cursor: pointer;
}


/* DROPDOWN */

.dropdown-container {
    position: absolute;
}

.dropdown-container >* img{
    width: 40px;
    height: 40px;
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
}

.open-dropdown {
    display: block;
    width: 300px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


/* .close-dropdown {
    display: none;
} */

/* LOGO */

.app-header .logo >* {
    display: inline-block;
}

.app-header .logo h1 {
    opacity: 0;
}

.app-header .logo >* {
    transition: 0.5s;
}
.app-header .logo:hover >* {
    opacity: 1;
}

.app-header .logo-icon  {
    width: 50px;
    height: 50px;
}