/* FILTER */

.book-filter {
    display: inline;
}

.book-filter input {
    height: 4vh;
    border-radius: 10px;
    outline: none;
    text-align: center;
}
.book-filter .num-input{
    width: 60px
}
.book-filter .txt-input{
    width: 380px
}