@import '/css/apps/note/cmps/notes-display.css';

.note-compose-container .cmp-type-container img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.cmp-type-container img:hover {
    /* cursor: pointer; */
    border: red 1px solid;
}

.note-app {
    padding:0.5rem 0;
    background-color: rgb(162, 202, 235);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: fit-content;
}

.notes-display-container {
    min-height: calc(80vh - 75.5px);
    background-color: rgb(0, 0, 0, 0.05);
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
}

.note-compose-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid grey;
    width: 600px;
    padding: 10px;
    margin:20px auto;
}

.note-compose-container input {
    border: none;
    height: 30px;
    width: 250px;
}

.not-done {
    text-decoration: none;
}

.note-app .note-card img {
    max-width:100%;
    max-height:200px;
}




.selected {
border: 2px solid red;
}