.home-page .hero {
    width: 100%;
    background-color: rgb(4, 18, 34);
    height: 80vh;
    text-align: center;
    color: bisque;
    user-select: none;
}
.home-page .hero-txt > *:not(:last-child) {
margin-bottom: 20px;
}

.home-page h1 {
    font-size: 70px;
    text-align: center;
}


.home-page .hero button {
    border: none;
    outline: 0;
    font-size: 20px;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: bisque;
    text-align: center;
    cursor: pointer;
    transition: .4s;
}

.home-page .hero button:hover {
    border-radius: 10px;
    color: coral;
}
    .home-page h1 span {
    color: coral;

}

.home-page h1 span:hover {
    color: #ffffff;
}

.home-page .images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    margin: 0 auto;
}

.home-page .profile-img {
    background-color: grey;
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.9s;
}

.home-page .profile-img:hover {
    margin-top: 50px;
    width: 210px;
    height: 210px;
    border-radius: 50%;
}

.home-page img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.home-page .profile-img:not(:first-child) {
    margin-left: 200px;
}
